<h2>Create Blog Post</h2>
  <div class="form-group">
    <label for="title">Blog Title</label>
    <input id="title" class="form-control" type="text" name="title" placeholer="Enter Blog Title">
  </div>
    <div class="form-group">
      <label for="blog-content">Blog Content</label>
      <input id="blog-content" class="form-control" type="text" name="blog-content">
    </div>
      <input id="submit-button" type="submit" name="submit" value="Submit Post">
