<h2>Create Blog Post</h2>
  <div class="form-group">
    <label for="title">Blog Title</label>
    <input id="title" class="form-control" type="text" name="title" placeholder="type blog title">
  </div>
    <div class="form-group">
      <textarea id="blog" class="form-control" type="text" name="blog" placeholder="type blog content"></textarea>
    </div>
      <input id="submit-button" type="submit" name="submit" value="Submit Post">
