<div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Your title" />
<div class="blog-content">
  <label for="blogBody">BlogContent</label>
  <input type="text" class="form-control" id="blogBody" name="blogBody" placeholder="Your blog" />
</div>
</div>

<input type="submit" name="submit" value="Add blogPost" />
